---
title: Table of Contents
layout: team
---
{% assign members = site.data.team %}
    <main role="main" class="filters-results">
      <div class="wrapper">
        <aside class="filters">
          <h1>Filters</h1>
          <form>
            <div class="field field-name">
              <label>
                <span class="label-text">Name</span>
                <input type="search">
              </label>
            </div>
            <fieldset class="fieldset fieldset-locations">
              <legend>Location</legend>
              <div class="fieldset-wrapper">
                {% assign locations = site.data.locations | sort:"label" %}
                {% for location in locations %}
                <div class="field field-checkbox">
                  <label>
                    <input type="checkbox" name="{{ location.code }}"
                           onclick="checkbox_clicked()"
                           param-key="locations">
                    <a href="{{ site.baseurl }}/locations/#{{ location.code }}" class="label-text">{{ location.label }}
                    ({{ location.team.size }})</a>
                  </input>
                  </label>
                </div>
                {% endfor %}
              </div>
            </fieldset>
            <fieldset class="fieldset fieldset-skills">
              <legend>Skills</legend>
              <div class="fieldset-wrapper">
                {% assign skills = site.data.skills | sort:"name" %}
                {% for skill in skills %}
                <div class="field field-checkbox">
                  <label>
                    <input type="checkbox" name="{{ skill.slug }}"
                           onclick="checkbox_clicked()"
                           param-key="skills">
                    <a href="{{ site.baseurl }}/skills/{{ skill.slug }}/" class="label-text">{{ skill.name }}
                    ({{ skill.members.size }})</a>
                  </input>
                  </label>
                </div>
                {% endfor %}
              </div>
            </fieldset>
            <fieldset class="fieldset fieldset-interests">
              <legend>Interests</legend>
              <div class="fieldset-wrapper">
                {% assign interests = site.data.interests | sort:"name" %}
                {% for interest in interests %}
                <div class="field field-checkbox">
                  <label>
                    <input type="checkbox" name="{{ interest.slug }}"
                           onclick="checkbox_clicked()"
                           param-key="interests">
                    <a href="{{ site.baseurl }}/interests/{{ interest.slug }}/" class="label-text">{{ interest.name }}
                    ({{ interest.members.size }})</a>
                  </input>
                  </label>
                </div>
                {% endfor %}
              </div>
            </fieldset>
            <button type="submit">Filter</button>
          </form>
        </aside>
        <section class="results">
          <h1><span class="count">{{ members.size }}</span> team members</h1>
          <form>
            <div class="field">
              <label>
                <span class="label-text">Group by</span>
                <select>
                  <option>Location</option>
                  <option>Project</option>
                  <option>Skills</option>
                  <option>Interests</option>
                </select>
              </label>
            </div>
            <button type="submit">Change grouping</button>
          </form>
          {% include team_members.html %}
        </section>
      </div>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/urljs/1.2.0/url.min.js"></script>
    <script type = "text/javascript" src="{{ site.baseurl }}/assets/js/synch_url_params_to_checkboxes.js"></script>
    <script type = "text/javascript" src="{{ site.baseurl }}/assets/js/filter_members.js"></script>
    <script type = "text/javascript">
       function checkbox_clicked() {
         set_url_params_to_checkboxes();
         filter_members();
       };

       $(document).ready(function(){
         set_checkboxes_to_url_params();
         filter_members();
       });
    </script>
