---
title: 18f Team Browser
layout: team-index
---
{% assign members = site.data.team %}
<div class="filters-results">
  <aside class="filters">
    <div class="wrapper">
      <h1>Filters</h1>
      <form>
        <fieldset class="fieldset fieldset-locations">
          <legend>Location</legend>
          <div class="fieldset-wrapper">
            {% assign locations = site.data.locations | sort:"label" %}
            {% for location in locations %}
            <div class="field field-checkbox">
              <label>
                <input type="checkbox" name="locations" id="locations-{{ location.code }}"
                 value="{{ location.code }}">
                <span class="label-text">{{ location.label }}</span>
                <span class="count">{{ location.team.size }}</span>
              </label>
            </div>
            {% endfor %}
          </div>
        </fieldset>
        <fieldset class="fieldset fieldset-skills">
          <legend>Skills</legend>
          <div class="fieldset-wrapper">
            {% assign skills = site.data.skills | sort:"name" %}
            {% for skill in skills %}
            <div class="field field-checkbox">
              <label>
                <input type="checkbox" name="skills" id="skills-{{ skill.slug }}"
                 value="{{ skill.slug }}" >
                <span class="label-text">{{ skill.name }}</span>
                <span class="count">{{ skill.members.size }}</span>
              </label>
            </div>
            {% endfor %}
          </div>
        </fieldset>
        <fieldset class="fieldset fieldset-interests">
          <legend>Interests</legend>
          <div class="fieldset-wrapper">
            {% assign interests = site.data.interests | sort:"name" %}
            {% for interest in interests %}
            <div class="field field-checkbox">
              <label>
                <input type="checkbox" name="interests" id="interests-{{ interest.slug }}"
                 value="{{ interest.slug }}" >
                <span class="label-text">{{ interest.name }}</span>
                <span class="count">{{ interest.members.size }}</span>
              </label>
            </div>
            {% endfor %}
          </div>
        </fieldset>
        <fieldset class="fieldset fieldset-projects">
          <legend>Projects</legend>
          <div class="fieldset-wrapper">
            {% assign projects = site.data.projects | sort:"name" %}
            {% for project in projects %}
            <div class="field field-checkbox">
              <label>
                <input type="checkbox" name="projects" id="projects-{{ project.name }}"
                 value="{{ project.name }}" >
                <span class="label-text">
                  {% if project.full_name %}
                    {{ project.full_name }}
                  {% else %}
                    {{ project.name }}
                  {% endif %}
                  </span>
                <span class="count">{{ project.team.size }}</span>
              </label>
            </div>
            {% endfor %}
          </div>
        </fieldset>
<!--         <button type="submit">Filter</button> -->
      </form>
    </div>
  </aside>
  <section class="results">
    <div class="wrapper">
      <form>
        <div class="field">
          <label>
            <span class="label-text">Group by</span>
            <select>
              <option>Location</option>
              <option>Project</option>
              <option>Skills</option>
              <option>Interests</option>
            </select>
          </label>
        </div>
        <button type="submit">Change grouping</button>
      </form>
      <div class="no-results">
        <p>No team members match your filters. Perhaps <a href="?">clear your filters</a> and start over?</p>
      </div>
      {% include team_members.html %}
    </div>
  </section>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/urljs/1.2.0/url.min.js"></script>
<script type = "text/javascript" src="{{ site.baseurl }}/assets/js/synch_url_params_to_checkboxes.js"></script>
<script type = "text/javascript" src="{{ site.baseurl }}/assets/js/filter_members.js"></script>
<script type = "text/javascript">
   function checkbox_clicked() {
     set_url_params_to_checkboxes();
     filter_members();
   };
   $(document).ready(function(){
     $("input[type='checkbox']").click(checkbox_clicked);
     set_checkboxes_to_url_params();
     filter_members();
   });
</script>
