<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link href='https://fonts.googleapis.com/css?family=Merriweather:400,700,400italic,700italic,300italic,300|Source+Sans+Pro:200,300,300italic,400,400italic,600,600italic,900' rel='stylesheet' type='text/css'>

  <script src="{{ site.baseurl }}/assets/js/jquery-2.1.1.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/application.js"></script>
  <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/stylesheets/reset.css">
  <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/stylesheets/screen.css">
  <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/stylesheets/search.css">
  <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/stylesheets/main.css">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />


  <!-- Mobile Specific Metas
  ================================================== -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <!-- Favicons
  ================================================== -->
  <!-- 128x128 -->
  <link rel="shortcut icon" type="image/ico" href="{{ site.baseurl }}/assets/images/favicons/favicon.ico" />
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/images/favicons/favicon.png" />
  <!-- 57x57 (precomposed) for iPhone 3GS, pre-2011 iPod Touch and older Android devices -->
  <link rel="apple-touch-icon-precomposed" href="{{ site.baseurl }}/assets/images/favicons/18f-center-57.png">
  <!-- 72x72 (precomposed) for 1st generation iPad, iPad 2 and iPad mini -->
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.baseurl }}/assets/images/favicons/18f-center-72.png">
  <!-- 114x114 (precomposed) for iPhone 4, 4S, 5 and post-2011 iPod Touch -->
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.baseurl }}/assets/images/favicons/18f-center-114.png">
  <!-- 144x144 (precomposed) for iPad 3rd and 4th generation -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/assets/images/favicons/18f-center-144.png">

  <!-- CSS
  ================================================== -->
  <style>
  <link href="{{ site.baseurl }}/assets/css/fonts.css" rel="stylesheet" type="text/css">
  {% for sheet_url in page.stylesheets %}
  {{ sheet_url | split:"/" | last | asset }}
  {% endfor %}</style>

  <script>
  // export some helpful site-wide variables
  window.site = {
    baseurl: "{{ site.baseurl }}"{% unless site.public %},
    access_token: '<!--# echo var="access_token" -->'{% endunless %}
  };
  </script>
</head>
