{% for member in members %}
  {% assign has_not_started = member.start_date | after_today %}
  {% assign has_left = member.end_date | before_today %}
  {% unless has_not_started or has_left %} 
      <article class="person"
       data-location="{{ member.location }}"
       data-skills="{{ member.skills | map: 'slug' | join: ',' }}"
       data-start-date="{{ member.start_date }}"
       data-end-date="{{ member.end_date }}"
       data-interests="{{ member.interests | map: 'slug' | join: ',' }}"
       data-projects="{{ member.projects | map: 'name' | join: ',' }}" 
       >

       {% assign photo_exists = member | photo_exists:site %}

          <a href="{{ site.baseurl }}/team/{{ member.name | canonicalize }}">
          {{ member.full_name }} 
          <img class="team-member-thumb"
           src="{{ member | photo_or_placeholder:site }}"
            alt="{% if photo_exists %}{{member.full_name}}
                 {% else %}
                 18F logo ({{ member.full_name }} photo missing)
               {% endif %}">
         </a>
      </article>
  {% endunless %}
{% endfor %}
