<div class="team-members">{% for member in members %}
  <article class="person"
    characteristics-location="{{ member.skills.location }}"
    characteristics-skills="{{ member.skills.join(',') }}"
    characteristics-interests="{{ member.skills.join(',') }}"
    >
    <div class="team-member-cell">
      {% assign photo_exists = member.name | photo_exists_in:site %}
      <a href="{{ site.baseurl }}/team/{{ member.name | canonicalize }}">
      {{ member.full_name }}
      <img class="team-member-thumb"
       src="{{ member.name | photo_or_placeholder:site }}"
        alt="{% if photo_exists %}member.name
             {% else %}
             18F logo ({{ member.full_name }} photo missing)
             {% endif %}">
      </a>
    </div>
  </article>
{% endfor %}
</div>
